/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .view-title{
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
}

.datepicker{
    width: 100px;
}

.button {
    background-color: #cbbde2;
    border-radius: 4px;
    color:white;
    width: 100%;
    border-color: #cbbde2;
}

.button:hover {
    background-color: #563d7c;
}
   
 .navbar{
     color: white;
 }
 .navbar-purple{
     background-color: #563d7c;
 }

 .nav-link{
     color: #cbbde2;
 }

 .nav-link:hover{
    color:white;
}

 .navbar-brand{
     color: white;
 }

 .imagen{
     height: 250px;
     width: 350px;
 }

 .thumbnail{
     height: 50px;
     width: 80px;
 }

 .row{
     display: flex;
     justify-content: center;
 }

 .details{
     display: flex;
     flex-direction: column;
     width: 280px;
     margin: 20px 50px;
     border: 1px solid black;
     border-radius: 5px;
     background-color: #fcfcfc;
     box-shadow: 7px 7px 5px #aaaaaa;
 }

 .details-img{
    width: 100%;
    height: 150px;
    margin-top: 12px;
    margin-bottom: 20px;
 }

 .icons{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin: 10px 0;
 }

 .fas{
     color: #cbbde2;
 }

 .fas:hover{
    color: #563d7c;
}

.far{
    color: #cbbde2;
}

.far:hover{
   color: #563d7c;
}

 .tarjeta-imagen{
     padding: 0 10px;
 }

 li{
     margin-right: 50px;
 }
 .table {
    
    margin: 40px auto;
    width: 85% !important; 
 }

 .table-purple{
     background-color: #f4edff;
 }

 .thumbnail-bid-preview{
    height: 200px;
    width: 400px;
 }

.profilePicture{
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.remember{
    margin-left: 200px;
    padding: 0 15px;
}

.pad{
    padding: 0 10px;
}

.passed{
    color: red;
}

.inProgress{
    font-weight: bold;
    text-align: center;
    color: green;
}

.passed{
    font-weight: bold;
    text-align: center;
    color: red;
}

.inProgressBid{
    font-weight: bold;
    color: green;
}

.passedBid{
    font-weight: bold;
    color: red;
}