<%= javascript_pack_tag 'products_form_edit' %>
<div class="view-title">
    <h1>Editing Product</h1>
    <%= render 'form', product: @product %>

    <!--<%= link_to 'Show', @product %> |-->
    <%= link_to 'Back', myitems_path %>
</div>
